header{
  width: 100%;
  padding: 1.2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: transparent;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
}
h3{
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}
.item{
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  color: black;
  opacity: 0;
  display: none;
}
@media only screen and (max-width: 1024px){
  header{
    width: 100%;
    padding: 50px 50px 10px 50px;
    background-color: white;
  }
  header .nav-btn{
    visibility: visible;
    opacity: 1;
    display: block;
  }
  header .nav{
    position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: white;
		transition: 1s;
    z-index: 99;
  }
  .nav.expanded{
    transform: translateY(100vh);
  }

}