@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --primary-color: #FEFF86;
  --secondary-color: #FFC288;
  --tertiary-color: #FF9F1C;
  --quaternary-color: #FF6B6B;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}